<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
     Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h3 style="color:rgb(105, 20, 5)" text-center><strong> Bienvenido</strong></h3>
    <ion-img src="assets/imgs/inicio.png"></ion-img>
      <p class="ion-justify" style="color:rgb(46, 44, 43)">FORESTAL ALFA S.A. DE C.V es una empresa 100% mexicana, constituida por un hombre con gran visión, de un espíritu altamente emprendedor el Sr. Don Alfonso Fernández de Castro Casas, desde el año de 1971.</p>
</ion-content>
