<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>
      Contactos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 style="color:rgb(121, 46, 16)" text-center>Atención en Ventas</h2>

  
  <ion-list>
       <ion-item>
        <ion-thumbnail item-start>
            <img src="./assets/imgs/madera.PNG">
             </ion-thumbnail>
         <ion-label > 
           <h2>rmelendez@forestalalfa.com.mx</h2> 
           <p>Tel. 01(618) 829.2450</p>
           <p>Tel. Directo 01 (618) 829.2452</p>
   
           
          </ion-label > 
       </ion-item>

       <ion-item>
        <ion-thumbnail item-start>
            <img src="./assets/imgs/triplay.PNG">
             </ion-thumbnail>
         <ion-label > 
           <h2>gsilva@forestalalfa.com.mx</h2> 
           <p>Tel. 01(618) 829.2450</p>
           <p>Tel. Directo 01 (618) 829.2451</p>
          </ion-label > 
       </ion-item>


       <ion-item>
        <ion-thumbnail item-start>
            <img src="./assets/imgs/muebles.PNG">
             </ion-thumbnail>
         <ion-label > 
           <h2>mgarza@forestalalfa.com.mx</h2> 
           <p>Tel. 01(618) 829.2450</p>
           <p>Tel. Directo 01 (618) 810.1798</p>
 
          </ion-label > 
       </ion-item>



 </ion-list>
        
</ion-content>
