<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Mi pedido Triplay</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/vistatriplay"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4 text-center> {{userEmail}}</h4>
  <div  *ngIf="todoservice.products.length === 0">
      <ion-icon name="cart" class= "center"></ion-icon>
      <p text-center>Su trailer está vacío<p>
      </div>
      <div *ngIf="todoservice.products.length != 0">
      <ion-grid> 
        <ion-row *ngFor="let product of todoservice.products; let i = index;">
          <ion-col>
              <ion-label> <p><strong>Nombre:</strong>
                {{product.nombre}}
              </p>
             <p><strong> Dimensión: </strong>{{product.dimension}}</p> 
             <p><strong>Espesor: </strong> {{product.espesor}}</p>
             <p><strong> Especie:</strong> {{product.especie}}</p>
             <p><strong>Calidad: </strong> {{product.calidad}}</p>
             <p><strong>Presentación por bulto: </strong> {{product.bulto}}</p>
             <p><strong>Cantidad de bultos: </strong>{{product.numero}}</p>
            </ion-label>
             
      <ion-button color="danger" shape="round"  (click)="todoservice.remove_itemT(i)"><ion-icon slot="start" name="trash"></ion-icon>Borrar Producto</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      </div>
<ion-list>
        <ion-item *ngIf="todo" >
          <ion-label position="floating"><strong>Nombre: </strong></ion-label>
    <ion-input required type="text"  [(ngModel)]="todo.cliente"  #cliente1></ion-input>
      </ion-item>
      <ion-item *ngIf="todo">
        <ion-label position="floating" ><strong>Telefono: </strong></ion-label>
  <ion-input required type="number"  [(ngModel)]="todo.telefono"  #telefono1></ion-input>
    </ion-item>
    <ion-item *ngIf="todo">
      <ion-label position="floating" ><strong>Código Postal: </strong></ion-label>
<ion-input required type="number"  [(ngModel)]="todo.codigo" #codigo1></ion-input>
  </ion-item>
  </ion-list>
        <ion-list>
          <ion-list-header text-center>¿Que deseas hacer?</ion-list-header>
          <ion-item *ngIf="todo">
            <ion-label>Seleccione uno</ion-label>
            <ion-select [(ngModel)]="todo.opcion" #opcion1 okText="Okay" cancelText="Cerrar">
              <ion-select-option value="Pedido">Realizar pedido</ion-select-option>
              <ion-select-option value="Cotización">Pedir cotización</ion-select-option>
            </ion-select>
          </ion-item>
        
        </ion-list>
 
 <ion-button [routerLink]="'/vistatriplay/'"> <ion-icon slot="start" name="add"></ion-icon>Añadir Triplay</ion-button>
 <ion-button (click)="validarCampos()"> <ion-icon slot="start" name="checkmark" ></ion-icon>Enviar</ion-button>
 

</ion-content>
